/* Header */

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;    
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2902;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.header-right {
    display: flex;
    flex-shrink: 0;
    padding-right: 50px;
    text-decoration: none;
    gap: 50px;
}

.header-right a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: aliceblue;
    gap: 10px;
    flex-shrink: 0;
}

.header-left img {
    width: 8%;
    height: 5%;
    margin: 10px 0 10px 0;
}

/* Welcome Screen */

.w-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aec09a;
    gap: 30px;
    margin: 50px;
    border: solid #aec09a;
    border-radius: 200px;
    width: 1200px;
    min-width: 1080px;
    box-shadow: 0px 0px 30px 10px #344c11;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #778D45;
    gap: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.w-left {
    flex-wrap: wrap;
    color: aliceblue;
    font-size: 18px;
    max-width: 480px;
    font-weight: bold;
}

.w-left h1 {
    font-size: 48px;
    font-weight: 600;
}

.welcome img {
    width: 400px;
    height: 280px;
    margin: 50px 0 50px 0;
    border-radius: 30px;
    border-bottom-right-radius:  80px;
    border-top-right-radius: 60px;
}

/* Info Boxes */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 50px;
}

.info h2 {
    color: #1A2902;
    font-weight: bold;
}
.info-boxes {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.info-box img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid #344c11;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 150px;
}

/* Subscribe */

.sub-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#778D45;
    min-height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sub-box-in {
    display: flex;
    align-items: center;
    gap: 200px;
    width: 1000px;
    color: aliceblue;
    font-weight: bold;
    background-color:#aec09a;
    padding: 20px;
    border-radius: 100px;
}

.sbi-right img {
    border-radius: 80px;
    margin-right: 50px;
}

.sbi-left {
    margin-left: 50px;
}

.sbi-left button {
    background-color: #778D45;
    color: aliceblue;
    font-weight: bolder;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
    border: 1px solid black;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #1A2902;
    color: aliceblue;
    font-weight: bold;
}