/* Header */

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;    
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1A2902;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.header-right {
    display: flex;
    padding-right: 50px;
    text-decoration: none;
    gap: 50px;
}

.header-right a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: aliceblue;
    gap: 10px;
}

.header-left img {
    width: 10%;
    height: 5%;
    margin: 10px 0 10px 0;
}

/* Welcome Screen */

.w-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aec09a;
    gap: 30px;
    margin: 50px;
    border: solid #aec09a;
    border-radius: 200px;
    width: 1200px;
    min-width: 1080px;
    box-shadow: 0px 0px 30px 10px #344c11;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #778D45;
    gap: 30px;
}

.w-left {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-size: 18px;
    max-width: 480px;
    font-weight: bold;
}

.w-left h1 {
    font-size: 48px;
    font-weight: 600;
}

.welcome img {
    width: 400px;
    height: 280px;
    margin: 50px 0 50px 0;
    border-radius: 30px;
    border-bottom-right-radius:  80px;
    border-top-right-radius: 60px;
}

/* Info Boxes */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-boxes {
    display: flex;
    gap: 30px;
    border-radius: 10px;
}

.info-box img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid #344c11;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 150px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #1A2902;
    color: aliceblue;
    font-weight: bold;
}